.app-container {
    background-image: url('https://e1.pxfuel.com/desktop-wallpaper/869/182/desktop-wallpaper-cod-zombies-cell-cod-zombies-perks.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
  }